{% extends 'index/base.html' %}

{% block content %}
    <div class="author-detail">
        {% if user.is_staff %}
		    <a class="btn btn-default" href="{% url 'authors:author_edit' pk=author.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
		<h1>{{ author.name }}</h1>
        <p><b>Books:</b>
            {% for book in author.book_set.all %}
                <a href="{% url 'books:book_detail' pk=book.pk %}">{{ book }}</a>
                {% if book != author.book_set.last %}
                    {{ ", " }}
                {% endif %}
            {% endfor %}
        </p>
        {% if user.is_staff %}
            <a href="{% url 'authors:author_delete' pk=author.pk %}" class="btn btn-default">Delete</a>
        {% endif %}
    </div>

{% endblock %}