html, body {
  height: 100%;
}

h1 a {
	color: dimgrey;
    font-size: 50pt;
}

.page-header {
    background-color: lightgreen;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}


.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 40px;
}

.site-footer {

     right: 0;
  bottom: 0;
  left: 0;
    padding: 1rem;
  background-color: #efefef;
  text-align: center;
}