{% load staticfiles %}
<html>
<div class="page-wrap">
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Tangerine&subset=latin,cyrillic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>Book store</title>

    </head>
    <body>
        <div class="top-menu">
            {% if user.is_superuser %}
                    <a href="{% url 'logs:showlastten' %}">HTTP request log</a><br>
                    <a href="{% url 'logs:showbooklog' %}">Book model change log</a>
            {% endif  %}
        </div>
		<div class="page-header">

			<h1><a href="/">Book store</a></h1>

		</div>
		<div class="content container">
				<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>

    </body>

{% load copyrighttags %}

</div>
<footer class="site-footer">
    Copyright (c) {% get_copyright %}, Zuiev Yurii
</footer>

</html>

