{% extends 'index/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="book-detail">

		<h1>{{ book.title }}</h1>
        <br />
        <p><b>Authors:</b>
            {% for author in book.authors.all %}
                <a href="{% url 'authors:author_detail' pk=author.pk %}">{{ author }}</a>
                {% if author != book.authors.last %}
                    {{ ", " }}
                {% endif %}
            {% endfor %}.
        </p>
        <p><b>ISBN:</b> {{ book.isbn}}</p>
        <p><b>Publish date:</b> {{ book.publish_date}}</p>
        <p><b>Price:</b> {{ book.price}}</p>
        <a href="{% url 'books:book_edit' pk=book.pk %}"><span class="btn btn-default">Edit</span></a>
    </div>

{% endblock %}