{% extends 'index/base.html' %}

{% block content %}
        <h2>Manage page</h2><br>

        {% if user.is_staff %}

            <h3><a href="{% url 'books:book_new' %}" title="Add book" class="top-menu">Add book</a></h3>
            <h3><a href="{% url 'authors:author_new' %}" title="Add author" class="top-menu">Add author</a></h3><br>

            <h3>Manage book data</h3><br>

            {% for book in books_all %}
                <div class="books_index">
                    <h3><a href="{% url 'books:book_edit' pk=book.pk %}">{{ book.title }}</a></h3>
                    <p><b>Authors:</b>
                        {% for author in book.authors.all %}
                            <a href="{% url 'authors:author_edit' pk=author.pk %}">{{ author }}</a>
                            {% if author != book.authors.last %}
                                {{ ", " }}
                            {% endif %}
                        {% endfor %}
                    </p>
                <p>ISBN: {{ book.isbn}}</p>
                <p>Publish date: {{ book.publish_date }} </p>
                <p>Price: {{ book.price }}</p>
                </div>
             {% endfor %}
        {% else %}
            <p>You bust belong to staff to view this page.</p>
        {% endif %}

{% endblock %}